<h1>About Me</h1>

<%= image_tag('dixie_and_me.jpg', :size => "300x400") %>

<p>My name is Justin Linville and I am a Software QA Engineer.</p>

<p>My hobbies include spending time with my dog Dixie, riding my motorcycle, writing music and playing video games.</p>

<p><%= link_to "Back", root_path %></p>