<h1 class='title'>Contact Me<h1>

<%= image_tag('profile_picture.jpg') %>

<h2>Justin Linville</h2>

<h3>Software QA Engineer</h3>

<p><%= mail_to "jlinville01@gmail.com", 'Email', id: 'email_link' %></p>

<p><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/justinlinville1/', id: 'linkedin_link' %></p>

<p><%= link_to "Back", root_path, id: 'back_link' %></p>