<h1 class='title'>Welcome To My Demo App</h1>

<p><%= link_to 'Resume', resume_path, id: 'resume_link' %></p>

<p><%= link_to 'About Me', about_path, id: 'about_link' %></p>

<p><%= link_to 'Contact Me', contact_path, id: 'contact_link' %></p>