<div class="container-fluid p-0">
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-5">Interests</h2>
      <p>When I'm not working I can usually be found spending time with my dog Dixie, a one year old Australian Cattle Dog. I'm a huge batman nerd so I love reading comics and playing video games. Whenever I get the chance I love taking my motorcycle out for long ride (location doesn't matter).</p>
      <p class="mb-0">When it comes to sports I am a huge Cincinnati Bengals fan, as well as lacrosse and wrestling (have to distinguish that I'm not referring to WWF).</p>
    </div>
  </section>
</div>