<div class="container-fluid p-0">
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Justin
        <span class="text-primary">Linville</span>
      </h1>

      <div class="subheading mb-5">Software QA Engineer · (585) 402-2400 ·
        <a><%= mail_to "jlinville01@gmail.com", 'jlinville01@gmail.com', id: 'email_link' %></a>
      </div>

      <p class="mb-5">Originating in Upstate NY, I moved to LA to pursue a career in QA Engineering. I am an avid learner constantly seeking new challenges to apply creative solutions toward. My expertise includes data analysis, troubleshooting and problem solving. I love to develop new ideas, execute them and evaluate their results.</p>

      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/justinlinville1/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/jlinville01">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>

    </div>
  </section>
</div>